<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Egor Krasavin</title>
	<link rel="icon" type="image/x-icon" href="/media/images/favicon.ico"/>
	<link rel="stylesheet" href="/static/krasa_winner/style.css">
</head>
<body>

<div class="content">
	<div class="header">
		<a href="https://jestenok.ru/krasa_winner">Main menu</a><span></span>
		<br>
		<a href="https://jestenok.ru/guess">Guessing game</a><span>|</span>
		<a href="https://jestenok.ru/passgen">Password Generator</a>
	</div>
	<h1>My first personal website</h1>

	<div class="center">
		<img src="/media/images/photo.jpg">
		<div class="box_text">
			<p><b>Good afternoon!</b>
				<br> My name is <i><b>Egor Krasavin</b>, and I <b>QA Engineer</b></i>
				 <br>

				 <p>Exactly a year ago, after graduating from the university, I began to comprehend the testing process, and I want to say with confidence that it was the most interesting year in my life!</p>
	<div class="links">
			<p>In my formation as a specialist, such companies as:</p>

				&bull; <a href="https://aqsi.ru/"><b>aqsi.ru</b></a>
				&bull; <a href="https://ship-ship.ru/"><b>ship-ship.ru</b></a>
				&bull; <a href="https://wakeapp.ru/"><b>wakeapp.ru</b></a>
<br><br>
			<p>In the header of the site, you can play several games that I wrote when I started studying programming.

			</p>
		</div>
	</div>
</div>

<div class="footer">
	inst: krasa_winner
<div>

</body>
</html>