<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Jestenok</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../media/images/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">

    <link rel="icon" href="mdeia/J2.png" type="image/x-icon">
    {#    <audio src="https://jestenok.ru/media/music.mp3" autoplay="autoplay"></audio>#}
    <script src="https://kit.fontawesome.com/ff1d9f7f73.js" crossorigin="anonymous"></script>
    <meta name="description" content="Kamil Taygunov. Junior python developer from Moscow."/>
</head>

<body>
<!-- ======= Header ======= -->

<header id="header">

    <div class="container">

        <h1><a href="">Kamil Taygunov</a></h1>
        <h2>Junior python <span>developer</span></h2>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="#header">Home</a></li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#resume">Resume</a></li>
                <li><a class="nav-link" href="#services">Services</a></li>
                {#                <li><a class="nav-link" href="#portfoliosy">Portfolio</a></li>#}
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div class="social-links">
            <a href="https://t.me/jestenok" class="telegram" target="_blank"><i class="bi bi-telegram"></i></a>
            <a href="https://www.instagram.com/jestenok_/" class="instagram" target="_blank"><i
                    class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/kamil-taigunov-782124200" class="linkedin" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
            <a href="https://github.com/jestenok" class="github" target="_blank"><i
                    class="bi-github"></i></a>
        </div>

    </div>
</header><!-- End Header -->

<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About</h2>
            <p>Learn more about me</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="../media/J2.png" class="img-fluid" alt=""/>
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>junior python developer</h3>
                <p class="fst-italic">
                    {#О себе#}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                                <span>27 March 1998</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>www.jestenok.ru</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                <span>+7 (925) 915-84-17</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Moscow, Russia</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>23</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Junior</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span>admin@jestenok.ru</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                <li>Involved in building database model, APIs and views utilizing Python, in order to build an
                    interactive web based solution.
                </li>
                <li>Used data types like dictionaries, tuples and object -concepts based inheritance features for making
                    complex algorithms of networks.
                </li>
                <li>Designed and developed the UI of the website using HTML, CSS and JavaScript.</li>
                <li>Worked on Python Open stack API’s.</li>
                <li>Carried out various mathematical operations for calculation purpose using python libraries.</li>
                <li>Managed large datasets using Panda data frames and MySQL/PostgreSQL.</li>
                <li>Worked with JSON based REST Web services.</li>
                <li>Performed testing using Django’s Test Module.</li>
                <li>Creating unit test/regression test framework for working/new code.</li>
                <li>Using Subversion version control tool for team-development.</li>
                </p>
            </div>
        </div>

    </div><!-- End About Me -->

    {#    <!-- ======= Counts ======= -->#}
    {#    <div class="counts container">#}
    {##}
    {#        <div class="row">#}
    {##}
    {#            <div class="col-lg-3 col-md-6">#}
    {#                <div class="count-box">#}
    {#                    <i class="bi bi-emoji-smile"></i>#}
    {#                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"#}
    {#                          class="purecounter"></span>#}
    {#                    <p>Happy Clients</p>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">#}
    {#                <div class="count-box">#}
    {#                    <i class="bi bi-journal-richtext"></i>#}
    {#                    <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1"#}
    {#                          class="purecounter"></span>#}
    {#                    <p>Projects</p>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
    {#                <div class="count-box">#}
    {#                    <i class="bi bi-headset"></i>#}
    {#                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"#}
    {#                          class="purecounter"></span>#}
    {#                    <p>Hours Of Support</p>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
    {#                <div class="count-box">#}
    {#                    <i class="bi bi-award"></i>#}
    {#                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1"#}
    {#                          class="purecounter"></span>#}
    {#                    <p>Awards</p>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {##}
    {#    </div><!-- End Counts -->#}

    <!-- ======= Skills  ======= -->
    <div class="skills container">

        <div class="section-title">
            <h2>Skills</h2>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">Python<i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Django <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">SQL<i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>


            </div>
            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">HTML <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">CSS <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">55%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- End Skills -->

    <!-- ======= Instruments ======= -->
    <div class="interests container">

        <div class="section-title">
            <h2>Instruments</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://img.icons8.com/color/48/ffffff/postgreesql.png"/>
                    <h3>PostgreSQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-line-chart-line" style="color: #98cb58" ;></i>
                    <h3>Pandas</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="/media/icons/jupyter.svg"/>
                    <h3>Jupyter</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://img.icons8.com/color/48/000000/github--v1.png"/>
                    <h3>Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <i class="ri-telegram-line" style="color: #59a9d4;"></i>
                    <h3>Telegram API</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="/media/icons/numpy.png"/>
                    <h3>NumPy</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://img.icons8.com/fluency/48/000000/grafana.png"/>
                    <h3>Grafana</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                    <img src="https://img.icons8.com/color/50/000000/linux--v1.png"/>
                    <h3>Linux</h3>
                </div>
            </div>
        </div>


    </div><!-- End Interests -->

    {#    <!-- ======= Testimonials ======= -->#}
    {#    <div class="testimonials container">#}
    {##}
    {#        <div class="section-title">#}
    {#            <h2>Testimonials</h2>#}
    {#        </div>#}
    {##}
    {#        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">#}
    {#            <div class="swiper-wrapper">#}
    {##}
    {#                <div class="swiper-slide">#}
    {#                    <div class="testimonial-item">#}
    {#                        <p>#}
    {#                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.#}
    {#                            Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.#}
    {#                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                        </p>#}
    {#                        <img src="../static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">#}
    {#                        <h3>Saul Goodman</h3>#}
    {#                        <h4>Ceo &amp; Founder</h4>#}
    {#                    </div>#}
    {#                </div><!-- End testimonial item -->#}
    {##}
    {#                <div class="swiper-slide">#}
    {#                    <div class="testimonial-item">#}
    {#                        <p>#}
    {#                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum#}
    {#                            eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim#}
    {#                            culpa.#}
    {#                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                        </p>#}
    {#                        <img src="../static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">#}
    {#                        <h3>Sara Wilsson</h3>#}
    {#                        <h4>Designer</h4>#}
    {#                    </div>#}
    {#                </div><!-- End testimonial item -->#}
    {##}
    {#                <div class="swiper-slide">#}
    {#                    <div class="testimonial-item">#}
    {#                        <p>#}
    {#                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis#}
    {#                            minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.#}
    {#                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                        </p>#}
    {#                        <img src="../static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">#}
    {#                        <h3>Jena Karlis</h3>#}
    {#                        <h4>Store Owner</h4>#}
    {#                    </div>#}
    {#                </div><!-- End testimonial item -->#}
    {##}
    {#                <div class="swiper-slide">#}
    {#                    <div class="testimonial-item">#}
    {#                        <p>#}
    {#                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim#}
    {#                            velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum#}
    {#                            veniam.#}
    {#                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                        </p>#}
    {#                        <img src="../static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">#}
    {#                        <h3>Matt Brandon</h3>#}
    {#                        <h4>Freelancer</h4>#}
    {#                    </div>#}
    {#                </div><!-- End testimonial item -->#}
    {##}
    {#                <div class="swiper-slide">#}
    {#                    <div class="testimonial-item">#}
    {#                        <p>#}
    {#                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
    {#                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam#}
    {#                            enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore#}
    {#                            nisi cillum quid.#}
    {#                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
    {#                        </p>#}
    {#                        <img src="../static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">#}
    {#                        <h3>John Larson</h3>#}
    {#                        <h4>Entrepreneur</h4>#}
    {#                    </div>#}
    {#                </div><!-- End testimonial item -->#}
    {##}
    {#            </div>#}
    {#            <div class="swiper-pagination"></div>#}
    {#        </div>#}
    {##}
    {#        <div class="owl-carousel testimonials-carousel">#}
    {##}
    {#        </div>#}
    {##}
    {#    </div><!-- End Testimonials  -->#}

</section><!-- End About Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>1C Enterprise developer</h4>
                    <h5>Dec 2020 - Present</h5>
                    <p><em><a href="https://orangedata.ru/" target="_blank">Orange Data</a>, <a
                            href="https://aqsi.online/" target="_blank">aQsi</a></em></p>
                    <p>
                    <ul>
                        <li>Development and support of configurations.</li>
                        <li>Business process automation.</li>
                        <li>Building complex queries and reports (analogue of SQL).</li>
                        <li>Finalization and implementation of projects.</li>
                        <li>From March to September was the only 1c programmer.</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Assistant to the head of the personnel department</h4>
                    <h5>Dec 2018 - Dec 2020</h5>
                    <p><em><a href="https://eng.mil.ru/en/index.htm" target="_blank">Armed Forces of the Russian
                        Federation</a></em></p>
                    <p>
                    <ul>
                        <li>Automation of work with documents through the integration of self-written configuration
                            1c.
                        </li>
                        <li>Transferring data to DB.</li>
                        <li>Writing reports in the query language.</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Service manager</h4>
                    <h5>Aug 2017 - Oct 2018</h5>
                    <p><em><a href="https://www.ufanet.ru/" target="_blank">Ufanet JSC</a></em></p>
                    <p>
                    <ul>
                        <li>Sale of company services (internet, television).</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Kamil Taygunov</h4>
                    {#<p><em>Описание</em></p>#}
                    <p>
                    <ul>
                        <li>Russia, 127106, Moscow, Komdiva-Orlova, 10</li>
                        <li>+7 (925) 915-84-17</li>
                        <li>admin@jestenok.ru</li>
                    </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Technician programmer</h4>
                    <h5>2014 - 2018</h5>
                    <p><em>Salavat College of Education and Professional Technologies</em></p>
                    <p>Faculty of Applied Informatics</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Resume Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>My Services</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Sed ut perspiciatis</a></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Magni Dolores</a></h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Nemo Enim</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">Dele cardo</a></h4>
                    <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Divera don</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="../static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="../static/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                               class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>My Address</h3>
                    <p>Russia, 127106, Moscow, Komdiva-Orlova, 10</p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a href="https://t.me/jestenok" class="telegram"><i class="bi bi-telegram"></i></a>
                        <a href="https://www.instagram.com/jestenok_/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/kamil-taigunov-782124200" class="linkedin"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>admin@jestenok.ru</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Me</h3>
                    <p>+7 (925) 915-84-17</p>
                </div>
            </div>
        </div>

        <form action="../static/forms/contact.php" method="post" role="form" class="php-email-form mt-4">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center">
                <button type="submit">Send Message</button>
            </div>
        </form>

    </div>
</section><!-- End Contact Section -->

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>
<script src="../static/assets/vendor/purecounter/purecounter.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>

</body>

</html>